@import "node_modules/bootstrap/scss/bootstrap-grid";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

@include media-breakpoint-down(xs) { 
  body,html {
    font-size: 21px;
  }
}

@include media-breakpoint-up(sm) { 
  body,html {
    font-size: 24px;
  }
 }
@include media-breakpoint-up(md) { 
  body,html {
    font-size: 26px;
  }
}
@include media-breakpoint-up(lg) { 
  body,html {
    font-size: 30px;
  }
}

body,html {
  background-color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  color: #272727;
}

.brand {
  text-shadow: 0px 0px 1px rgba(120,120,120,0.4);
  font-size: 1.8em;
  width: inherit;
  font-weight: 800;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.intro {
  margin: 0 5px;
  p {
    font-size: 0.65em;
    margin: 5px 0;
  }
}

a {
  color: #cc15b2;
}